@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
     scroll-behavior: smooth;
}
#lottie{
     width: auto !important;
}

._content{
     color: rgb(76, 76, 76);
}
._content h2{
     font-size: 1.7rem;
     font-weight: 700;
     color: rgb(16, 16, 16) !important;
}
._content p{
     font-size: 18px;
     margin-top: 10px;
}
._content h5{
     color: #0CAA41;
     font-weight: 500;
     font-size: 18px;
     margin-top: 10px;
}
._content h3, ._content h4{
     font-size: 1.4rem;
     font-weight: 700;
     margin-top: 10px;
     color: rgb(16, 16, 16) !important;
}
._content pre{
     font-size: 16px;
     margin: 10px 0;
     padding: 0 10px;
     border-left: 4px solid #0CAA41;
     white-space: break-spaces;
}
iframe{
     width: -webkit-fill-available;
}

._content img{
     width: 100%;
     margin: 10px 0;
}
._content a{
     color: #0CAA41;
}
._content ul{
     list-style-type: disc;
     padding-left: 1.1rem;
}

@media (max-width: 768px) {
     ._content p{
          font-size: 16px;
     }
     ._content h2{
          font-size: 1.5rem;
     }
     ._content h3, ._content h4{
          font-size: 1.2rem;
     }
}